.logo-loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    max-width: 90vw;
    opacity: 1;
    transition: opacity 1s ease-out;

    &.fade-out {
        opacity: 0;
        pointer-events: none;
    }
}

.app-container {
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease-out 1 forwards;

    background: #e6e6e6;
    height: 100vh;
    width: 100vw;
    display: flex;

    .content-panel {
        width: 60%;
        margin-left: 50px;
        font-weight: 400;
        font-style: normal;
        height: calc(100vh - 340px);
        padding: 30px;
        color: #4c565a;

        .section-header {
            font-family: "Poiret One", sans-serif;
            font-size: 50px;
            height: 87px;
            display: flex;
            justify-content: flex-start;
            align-items: end;
        }
        .scrollable-list-panel {
            width: 100%;
            height: 100%;
            padding: 36px;
            box-sizing: border-box;
            padding-left: 0;
            font-family: "Poppins", sans-serif;
            font-weight: 300;

            .hive-item {
                display: flex;
                gap: 25px;
                margin-bottom: 15px;
                border: 1px solid #adbe86;
                border-radius: 13px;
                padding: 10px;
                width: 85%;

                .item-dob {
                    background: rgba(255, 255, 255, 0.3);
                    width: 75px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .item-dob__date {
                        font-size: 25px;
                        color: #e06d75;
                        font-weight: 500;
                    }

                    .item-dob__month {
                        font-size: 13px;
                        margin-top: -5px;
                    }
                }

                .item-name {
                    font-size: 22px;
                    font-weight: 400;
                }

                .item-info {
                    display: flex;
                    gap: 3px;
                    font-size: 13px;
                    margin-top: 7px;
                    font-weight: 400;

                    .item-about {
                        margin-left: 15px;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .spotlight-panel {
        width: 35%;
        font-weight: 400;
        font-style: normal;
        height: calc(100vh - 340px);
        padding: 30px;
        color: #4c565a;

        .section-header {
            font-family: "Poiret One", sans-serif;
            font-size: 50px;
            height: 87px;
            display: flex;
            justify-content: flex-start;
            align-items: end;
        }

        .spotlight-list-panel {
            width: 100%;
            height: 100%;
            padding: 36px;
            box-sizing: border-box;
            padding-left: 0;
            font-family: "Poppins", sans-serif;
            font-weight: 400;

            .spotlight-item {
                display: flex;
                gap: 25px;
                justify-content: start;
                align-items: anchor-center;
                margin-bottom: 25px;
                font-size: 15px;
                width: 80%;
                border-left: 3px solid #e8a45d;
                padding-left: 15px;
            }
        }
    }

    .illustration-panel img {
        width: 280px;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.8;
    }

    .footer-panel {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        justify-content: right;
        gap: 20px;

        &__logo img {
            width: 140px;
        }

        &__msg {
            width: 500px;
            font-size: 20px;
            color: #686868;
            font-family: "Englebert", cursive;
            font-weight: 400;
            font-style: normal;
            text-align: right;

            &--highlight {
                color: #a1af7d;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.read-only {
    pointer-events: none;
    user-select: none;
}

// Responsive adjustments
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
        height: auto;

        .content-panel {
            width: 100%;
            margin: 0;
            height: 500px;
        }

        .spotlight-panel {
            width: 100%;
            height: 400px;
        }

        .illustration-panel {
            display: flex;
            justify-content: center;

            img {
                width: 200px;
                position: relative;
            }
        }

        .footer-panel {
            position: relative;
            flex-direction: column;
            padding: 0 50px;

            &__msg {
                text-align: center;
                margin-top: 10px;
                width: auto;
            }
        }            
    }
}
