<div class="logo-loader-container" [class.fade-out]="!showLoader()">
  <ng-lottie [options]="options" />
</div>
@if(!showLoader()){
<div class="app-container">
  <div class="content-panel">
    <div class="section-header read-only">
      Birthday Wall
    </div>
    <div class="scrollable-list-panel">
      <ng-scrollbar>
        @for (item of hiveItems(); track item.id) {
        <div class="hive-item">
          <div class="item-dob">
            <div class="item-dob__date">
              {{ item.formatted_dob?.split(' ')?.[0] }}
            </div>
            <div class="item-dob__month">
              {{ item.formatted_dob?.split(' ')?.[1] }}
            </div>
          </div>
          <div>
            <div class="item-name">{{ item.name }}</div>
            <div class="item-info">
              <lucide-angular [size]="12" [img]="MapPinIcon"></lucide-angular> {{ item.dept }}
              @if (item.about) {
              <div class="item-about">
                <lucide-angular [size]="12" [img]="HeartIcon"></lucide-angular>
                {{ item.about }}
              </div>
              }
            </div>
          </div>
        </div>
        }
      </ng-scrollbar>
    </div>
  </div>
  <div class="spotlight-panel">
    <div class="section-header read-only">
      What's up?
    </div>
    <div class="spotlight-list-panel">
      @for (spotlight of spotlights(); track spotlight.id) {
      <div class="spotlight-item">
        @switch(spotlight.type) {
          @case('achievement') {
            <lucide-angular [size]="24" [img]="TrophyIcon"></lucide-angular>
          }
          @case('accolades') {
            <lucide-angular [size]="24" [img]="AwardIcon"></lucide-angular>
          }
          @case('birthday') {
            <lucide-angular [size]="24" [img]="CakeIcon"></lucide-angular>
          }
          @case('celebration') {
            <lucide-angular [size]="24" [img]="PartyPopperIcon"></lucide-angular>
          }
          @case('announcement') {
            <lucide-angular [size]="24" [img]="MegaphoneIcon"></lucide-angular>
          }
          @case('notification') {
            <lucide-angular [size]="24" [img]="BellIcon"></lucide-angular>
          }
          @case('milestone') {
            <lucide-angular [size]="24" [img]="StarIcon"></lucide-angular>
          }
          @case('promotion') {
            <lucide-angular [size]="24" [img]="ZapIcon"></lucide-angular>
          }
          @case('idea') {
            <lucide-angular [size]="24" [img]="LightbulbIcon"></lucide-angular>
          }
          @case('baby') {
            <lucide-angular [size]="24" [img]="BabyIcon"></lucide-angular>
          }
          @case('event') {
            <lucide-angular [size]="24" [img]="CalendarIcon"></lucide-angular>
          }
          @default {
            <lucide-angular [size]="24" [img]="BellIcon"></lucide-angular>
          }
        }
        <div class="spotlight-description">{{ spotlight.description }}</div>
      </div>
      }
    </div>
  </div>
  <div class="illustration-panel">
    <img class="read-only" src="images/hbd_illustration.svg" draggable="false">
  </div>
  <div class="footer-panel">
    <div class="footer-panel__msg read-only">
      Sometimes it's not WHERE you work, it's <span class="footer-panel__msg--highlight">WHO</span> you work with that
      makes a job worth going everyday.
    </div>
    <div class="footer-panel__logo"><img class="read-only" src="images/thh_logo.svg" draggable="false" alt="Logo"></div>
  </div>

</div>
}