/* You can add global styles to this file, and also import other style files */
@use 'ngx-scrollbar' as scrollbar;

/* Set margin and padding to 0 for consistency across browsers */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #ebe9e9;
}

:root {
  @include scrollbar.ng-scrollbar-overrides((
    track-color: rgb(0 0 0 / 10%),
    thumb-color: #b46a6a,
    track-thickness: 15px,
    track-offset: 5px,
  ));
}